h1 {
        text-align: center;
        color: white; 
}

p {
        text-align: center;
        color: white;
}

body {
        background-color: rgb(0,0,0);
        font-family: 'Supermercado One', cursive;
}
